body {
  background-color: #262626;
}

.text_green {
  color: #0f0;
}
.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0);
}
.polygon-design1 {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  clip-path: polygon(0 0, 100% 0, 76% 71%, 0% 100%);
  width: 70%;
  height: 600px;
  z-index: 10;
}

.polygon-design2 {
  background-color: #28a337;
  clip-path: polygon(0 0, 100% 0, 76% 71%, 0% 100%);
  width: 72%;
  height: 680px;
  z-index: -12;
  position: absolute;
  top: 0;
}

.polygon-design1-text {
  color: #fff;
  position: absolute;
  top: 20%;
  left: 10%;
}

.securesvg {
  width: 400px;
  height: 300px;
  float: right;
  margin-top: -32%;
  margin-right: 5%;
}
@media (max-width: 576px) {
  .polygon-design1 {
    width: 93%;
    height: 600px;
  }

  .polygon-design2 {
    width: 96%;
    height: 680px;
  }
  .polygon-design1-text {
    color: #fff;
    position: absolute;
    top: 13%;
    left: 1%;
  }
  .securesvg {
    width: 290px;
  }
  .best-vpn {
    margin-top: 50%;
  }
}

.offcanvas-header {
  display: none;
}

@media (max-width: 992px) {
  .offcanvas-header {
    display: block;
  }
  .navbar-collapse {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 60%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #efaa38;
    transition: visibility 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    z-index: 100;
  }
  .navbar-collapse.show {
    visibility: visible;
    transform: translateX(-100%);
  }
}

.footer {
  left: 0;
  bottom: 0;
  padding: 6px;
  width: 100%;
  background-color: rgba(15, 15, 15, 0.459);
  color: white;
  text-align: center;
}
